.mediaViewInfo {
	--web-view-name: 1920_Registros_Paso1_Selecciona "Agregar nueva sede";
	--web-view-id: n_920_Registros_Paso1_Selecciona_Agregar_nueva_sede;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_920_Registros_Paso1_Selecciona_Agregar_nueva_sede;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
@keyframes  {


}
#n_920_Registros_Paso1_Selecciona_Agregar_nueva_sede {
	position: absolute;
	width: 1920px;
	height: 1455px;
	background-color: rgba(247,249,247,1);
	overflow: hidden;
	--web-animation: fadein undefineds undefined;
	--web-action-type: view;
	--web-action-target: n_920_Registros_Paso1_Agregar_nueva_sede_Estado_completo;
	cursor: pointer;
	--web-view-name: 1920_Registros_Paso1_Selecciona "Agregar nueva sede";
	--web-view-id: n_920_Registros_Paso1_Selecciona_Agregar_nueva_sede;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
#Platform_menu_left {
	position: absolute;
	width: 262px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectngulo_1_b {
	fill: url(#Rectngulo_1_b);
}
.Rectngulo_1_b {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Rectngulo_1105 {
	opacity: 0.8;
	fill: rgba(255,255,255,1);
}
.Rectngulo_1105 {
	position: absolute;
	overflow: visible;
	width: 194px;
	height: 45px;
	left: 40px;
	top: 125px;
}
#Grupo_959 {
	position: absolute;
	width: 76px;
	height: 21px;
	left: 52px;
	top: 92px;
	overflow: visible;
}
#Inicio {
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#icon_home {
	position: absolute;
	width: 18px;
	height: 20.007px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_5874 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_5874 {
	overflow: visible;
	position: absolute;
	width: 19.5px;
	height: 21.564px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectngulo_1064 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_1064 {
	position: absolute;
	overflow: visible;
	width: 7.5px;
	height: 9.5px;
	left: 6px;
	top: 11.824px;
}
#Grupo_960 {
	position: absolute;
	width: 111px;
	height: 21px;
	left: 52px;
	top: 137px;
	overflow: visible;
}
#Registros {
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(14,85,92,1);
	letter-spacing: 0.05px;
}
#icon_register {
	position: absolute;
	width: 17.922px;
	height: 18px;
	left: 0px;
	top: 2px;
	overflow: visible;
}
#Trazado_6229 {
	fill: transparent;
	stroke: rgba(14,85,92,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6229 {
	overflow: visible;
	position: absolute;
	width: 17.5px;
	height: 19.5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6230 {
	fill: transparent;
	stroke: rgba(14,85,92,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6230 {
	overflow: visible;
	position: absolute;
	width: 13.537px;
	height: 13.535px;
	left: 6.055px;
	top: 0.078px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6231 {
	fill: transparent;
	stroke: rgba(14,85,92,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6231 {
	overflow: visible;
	position: absolute;
	width: 4.061px;
	height: 4.063px;
	left: 13.5px;
	top: 1.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_961 {
	position: absolute;
	width: 121px;
	height: 21px;
	left: 52px;
	top: 182px;
	overflow: visible;
}
#Resultados {
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#icon_results {
	position: absolute;
	width: 18px;
	height: 16px;
	left: 0px;
	top: 3px;
	overflow: visible;
}
#Trazado_6461 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6461 {
	overflow: visible;
	position: absolute;
	width: 5.5px;
	height: 8.5px;
	left: 0px;
	top: 9px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6462 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6462 {
	overflow: visible;
	position: absolute;
	width: 5.5px;
	height: 17.5px;
	left: 7px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6463 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6463 {
	overflow: visible;
	position: absolute;
	width: 5.5px;
	height: 13.5px;
	left: 14px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_962 {
	position: absolute;
	width: 154px;
	height: 21px;
	left: 52px;
	top: 227px;
	overflow: visible;
}
#Compensacin {
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#icon_compensation {
	position: absolute;
	width: 18px;
	height: 12px;
	left: 0px;
	top: 5px;
	overflow: visible;
}
#Trazado_6395 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6395 {
	overflow: visible;
	position: absolute;
	width: 20.111px;
	height: 14.109px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6396 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6396 {
	overflow: visible;
	position: absolute;
	width: 6.5px;
	height: 6.5px;
	left: 13px;
	top: 7px;
	transform: matrix(1,0,0,1,0,0);
}
#Plataforma_HCero {
	left: 40px;
	top: 973px;
	position: absolute;
	overflow: visible;
	width: 172px;
	white-space: nowrap;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#Grupo_1197 {
	position: absolute;
	width: 94.063px;
	height: 15.236px;
	left: 40px;
	top: 1005px;
	overflow: visible;
}
#Grupo_964 {
	position: absolute;
	width: 84px;
	height: 12px;
	left: 987px;
	top: 84px;
	overflow: visible;
}
#Elipse_99 {
	fill: rgba(77,153,127,1);
}
.Elipse_99 {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 0px;
	top: 0px;
}
#Elipse_102 {
	fill: rgba(206,230,173,1);
}
.Elipse_102 {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 48px;
	top: 0px;
}
#Elipse_100 {
	fill: rgba(206,230,173,1);
	stroke: rgba(206,230,173,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_100 {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 24px;
	top: 0px;
}
#Elipse_101 {
	fill: rgba(206,230,173,1);
}
.Elipse_101 {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 72px;
	top: 0px;
}
#inicio_del_registro {
	left: 761px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Final_del_registro {
	left: 1037px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Elige_una_sede {
	left: 762px;
	top: 325px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Nombre_personalizado {
	left: 762px;
	top: 432px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Nmero_de_empleados {
	left: 762px;
	top: 519px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Departamento {
	left: 843px;
	top: 606px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Pas {
	left: 761px;
	top: 606px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Ciudad {
	left: 1077px;
	top: 606px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Direccin {
	left: 762px;
	top: 693px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Descripcin_de_la_sede {
	left: 761px;
	top: 780px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Tipo_de_espacio {
	left: 762px;
	top: 947px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Elige_la_sede_para_tu_clculo_ {
	left: 761px;
	top: 284px;
	position: absolute;
	overflow: visible;
	width: 292px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(14,85,92,1);
	letter-spacing: 0.05px;
}
#Definir_el_tiempo_de_la_medici {
	left: 761px;
	top: 136px;
	position: absolute;
	overflow: visible;
	width: 332px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(14,85,92,1);
	letter-spacing: 0.05px;
}
#Rectngulo_1530 {
	fill: rgba(255,255,255,1);
	stroke: rgba(32,38,38,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_1530 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 37px;
	left: 761px;
	top: 207px;
}
#Rectngulo_2339 {
	fill: rgba(255,255,255,1);
	stroke: rgba(32,38,38,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_2339 {
	position: absolute;
	overflow: visible;
	width: 260px;
	height: 37px;
	left: 1037px;
	top: 207px;
}
#Rectngulo_1531 {
	fill: rgba(255,255,255,1);
	stroke: rgba(32,38,38,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_1531 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 37px;
	left: 761px;
	top: 355px;
}
#Rectngulo_2329 {
	fill: rgba(255,255,255,1);
	stroke: rgba(98,113,115,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_2329 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 37px;
	left: 761px;
	top: 462px;
}
#Rectngulo_2330 {
	fill: rgba(255,255,255,1);
	stroke: rgba(98,113,115,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_2330 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 37px;
	left: 761px;
	top: 549px;
}
#Rectngulo_2332 {
	fill: rgba(255,255,255,1);
	stroke: rgba(98,113,115,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_2332 {
	position: absolute;
	overflow: visible;
	width: 218px;
	height: 37px;
	left: 843px;
	top: 636px;
}
#Rectngulo_2357 {
	fill: rgba(255,255,255,1);
	stroke: rgba(98,113,115,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_2357 {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 37px;
	left: 761px;
	top: 636px;
}
#Rectngulo_2333 {
	fill: rgba(255,255,255,1);
	stroke: rgba(98,113,115,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_2333 {
	position: absolute;
	overflow: visible;
	width: 219px;
	height: 37px;
	left: 1077px;
	top: 636px;
}
#Rectngulo_2334 {
	fill: rgba(255,255,255,1);
	stroke: rgba(98,113,115,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_2334 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 37px;
	left: 761px;
	top: 723px;
}
#Rectngulo_2331 {
	fill: rgba(255,255,255,1);
	stroke: rgba(98,113,115,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_2331 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 109px;
	left: 761px;
	top: 810px;
}
#n_1012022 {
	left: 814px;
	top: 215px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#n_1122022 {
	left: 1090px;
	top: 215px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#Agregar_nueva_sede {
	left: 774px;
	top: 363px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#Escribe_un_nombre {
	left: 774px;
	top: 470px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(198,204,203,1);
	letter-spacing: 0.05px;
}
#Escribe_el_nmero_de_empleados {
	left: 774px;
	top: 557px;
	position: absolute;
	overflow: visible;
	width: 266px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(198,204,203,1);
	letter-spacing: 0.05px;
}
#Selecciona_un_depar {
	left: 855px;
	top: 644px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(198,204,203,1);
	letter-spacing: 0.05px;
}
#Selecciona_una_ciud {
	left: 1089px;
	top: 644px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(198,204,203,1);
	letter-spacing: 0.05px;
}
#Escribe_la_direccin {
	left: 773px;
	top: 731px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(198,204,203,1);
	letter-spacing: 0.05px;
}
#Escribe_una_descripcin {
	left: 773px;
	top: 822px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(198,204,203,1);
	letter-spacing: 0.05px;
}
#icon_arrow {
	position: absolute;
	width: 7.211px;
	height: 3.357px;
	left: 1277.834px;
	top: 372px;
	overflow: visible;
}
#Trazado_5919 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_5919 {
	overflow: visible;
	position: absolute;
	width: 9.333px;
	height: 5.248px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_arrow_d {
	position: absolute;
	width: 7.211px;
	height: 3.357px;
	left: 1041px;
	top: 652.822px;
	overflow: visible;
}
#Trazado_5919_d {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_5919_d {
	overflow: visible;
	position: absolute;
	width: 9.333px;
	height: 5.248px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_arrow_ea {
	position: absolute;
	width: 7.211px;
	height: 3.357px;
	left: 808.789px;
	top: 652.822px;
	overflow: visible;
}
#Trazado_5919_ea {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_5919_ea {
	overflow: visible;
	position: absolute;
	width: 9.333px;
	height: 5.248px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_arrow_eb {
	position: absolute;
	width: 7.211px;
	height: 3.357px;
	left: 1278px;
	top: 655.822px;
	overflow: visible;
}
#Trazado_5919_eb {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_5919_eb {
	overflow: visible;
	position: absolute;
	width: 9.333px;
	height: 5.248px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectngulo_1532 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_1532 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 76px;
	left: 761px;
	top: 981px;
}
#Rectngulo_1739 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_1739 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 76px;
	left: 761px;
	top: 1157px;
}
#Rectngulo_1737 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_1737 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 76px;
	left: 761px;
	top: 1069px;
}
#Rectngulo_1738 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_1738 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 76px;
	left: 761px;
	top: 1245px;
}
#Oficina {
	left: 838px;
	top: 1008px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
}
#Bodega {
	left: 838px;
	top: 1184px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
}
#Planta {
	left: 838px;
	top: 1096px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
}
#Otro_espacio {
	left: 838px;
	top: 1272px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
}
#Grupo_1208 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 770px;
	top: 1165px;
	overflow: visible;
}
#Grupo_1216 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_1217 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 770px;
	top: 1077px;
	overflow: visible;
}
#Grupo_1217_ej {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_1218 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 770px;
	top: 1253px;
	overflow: visible;
}
#Grupo_1218_el {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Volver {
	left: 315px;
	top: 76px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
	text-decoration: underline;
}
#icon_arrow_en {
	transform: matrix(1,0,0,1,301.0002,84.9274) rotate(90deg);
	transform-origin: center;
	position: absolute;
	width: 7.211px;
	height: 3.357px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_5919_eo {
	fill: transparent;
	stroke: rgba(156,160,159,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_5919_eo {
	overflow: visible;
	position: absolute;
	width: 5.249px;
	height: 9.332px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_1318 {
	position: absolute;
	width: 534px;
	height: 42px;
	left: 762px;
	top: 1361px;
	overflow: visible;
}
#Btn_L {
	position: absolute;
	width: 260px;
	height: 42px;
	left: 274px;
	top: 0px;
	overflow: visible;
	padding: 10px 85px 10px 85px;
}
#Rectngulo_1503 {
	fill: rgba(254,80,0,1);
}
.Rectngulo_1503 {
	filter: drop-shadow(0px 2px 6px rgba(206, 65, 0, 0.4));
	position: absolute;
	overflow: visible;
	width: 278px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Siguiente {
	left: 85px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: center;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
#Btn_L_et {
	position: absolute;
	width: 258px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
	padding: 10px 87px 10px 87px;
}
#Rectngulo_1503_eu {
	fill: rgba(247,249,247,1);
	stroke: rgba(98,113,115,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_1503_eu {
	filter: drop-shadow(0px 2px 3px rgba(193, 181, 176, 0.149));
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 51px;
	left: 0px;
	top: 0px;
}
#Cancelar {
	left: 87px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: center;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Grupo_1487 {
	position: absolute;
	width: 27px;
	height: 21px;
	left: 773px;
	top: 644px;
	overflow: visible;
}
#Rectngulo_2336 {
	fill: rgba(255,230,0,1);
}
.Rectngulo_2336 {
	position: absolute;
	overflow: visible;
	width: 27px;
	height: 9px;
	left: 0px;
	top: 0px;
}
#Rectngulo_2337 {
	fill: rgba(10,71,193,1);
}
.Rectngulo_2337 {
	position: absolute;
	overflow: visible;
	width: 27px;
	height: 7px;
	left: 0px;
	top: 9px;
}
#Rectngulo_2338 {
	fill: rgba(255,26,26,1);
}
.Rectngulo_2338 {
	position: absolute;
	overflow: visible;
	width: 27px;
	height: 5px;
	left: 0px;
	top: 16px;
}
#icon_information {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 739px;
	top: 142px;
	overflow: visible;
}
#Elipse_123 {
	fill: rgba(198,204,203,1);
}
.Elipse_123 {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#Trazado_9259 {
	fill: rgba(255,255,255,1);
}
.Trazado_9259 {
	overflow: visible;
	position: absolute;
	width: 2.268px;
	height: 8.76px;
	left: 5.866px;
	top: 2.621px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_information_e {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 739px;
	top: 784px;
	overflow: visible;
}
#Elipse_123_e {
	fill: rgba(198,204,203,1);
}
.Elipse_123_e {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#Trazado_9259_e {
	fill: rgba(255,255,255,1);
}
.Trazado_9259_e {
	overflow: visible;
	position: absolute;
	width: 2.268px;
	height: 8.76px;
	left: 5.866px;
	top: 2.621px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_date {
	position: absolute;
	width: 16px;
	height: 18px;
	left: 773px;
	top: 215px;
	overflow: visible;
}
#Trazado_6446 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6446 {
	overflow: visible;
	position: absolute;
	width: 17.5px;
	height: 17.5px;
	left: 0px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6447 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6447 {
	overflow: visible;
	position: absolute;
	width: 1.5px;
	height: 5.5px;
	left: 12px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6448 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6448 {
	overflow: visible;
	position: absolute;
	width: 1.5px;
	height: 5.5px;
	left: 4px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6449 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6449 {
	overflow: visible;
	position: absolute;
	width: 17.5px;
	height: 1.5px;
	left: 0px;
	top: 7px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_date_fb {
	position: absolute;
	width: 16px;
	height: 18px;
	left: 1049px;
	top: 215px;
	overflow: visible;
}
#Trazado_6446_fc {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6446_fc {
	overflow: visible;
	position: absolute;
	width: 17.5px;
	height: 17.5px;
	left: 0px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6447_fd {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6447_fd {
	overflow: visible;
	position: absolute;
	width: 1.5px;
	height: 5.5px;
	left: 12px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6448_fe {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6448_fe {
	overflow: visible;
	position: absolute;
	width: 1.5px;
	height: 5.5px;
	left: 4px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6449_ff {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6449_ff {
	overflow: visible;
	position: absolute;
	width: 17.5px;
	height: 1.5px;
	left: 0px;
	top: 7px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2581 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_2581 {
	overflow: visible;
	position: absolute;
	width: 0.5px;
	height: 36px;
	left: 801.5px;
	top: 207.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2582 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_2582 {
	overflow: visible;
	position: absolute;
	width: 0.5px;
	height: 36px;
	left: 1077.5px;
	top: 207.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_1499 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 770px;
	top: 989px;
	overflow: visible;
}
#Grupo_1499_fj {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Platform_bar_top {
	position: absolute;
	width: 1658px;
	height: 64px;
	left: 262px;
	top: 0px;
	overflow: visible;
}
#Rectngulo_1509 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_1509 {
	position: absolute;
	overflow: visible;
	width: 1658px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#icon_notification {
	position: absolute;
	width: 16px;
	height: 17px;
	left: 1303px;
	top: 24px;
	overflow: visible;
}
#Componente_170 {
	position: absolute;
	width: 16px;
	height: 17px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_6168 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6168 {
	overflow: visible;
	position: absolute;
	width: 17.5px;
	height: 16.5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6169 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6169 {
	overflow: visible;
	position: absolute;
	width: 5.5px;
	height: 2.75px;
	left: 6px;
	top: 15px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_support {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 1339px;
	top: 23px;
	overflow: visible;
}
#Elipse_4 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_4 {
	position: absolute;
	overflow: visible;
	width: 19px;
	height: 19px;
	left: 0px;
	top: 0px;
}
#Text {
	left: 5.5px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#icon_arrow_ft {
	position: absolute;
	width: 7.211px;
	height: 3.357px;
	left: 1404.789px;
	top: 31px;
	overflow: visible;
}
#Trazado_5919_fu {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_5919_fu {
	overflow: visible;
	position: absolute;
	width: 9.333px;
	height: 5.248px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_user {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 1377.866px;
	top: 23px;
	overflow: visible;
}
#Grupo_963 {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#NameUser {
	left: 1432px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: right;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#Rectngulo_3194 {
	fill: rgba(240,242,242,1);
	stroke: rgba(198,204,203,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3194 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 1255px;
	top: 1008px;
}
#Rectngulo_3197 {
	fill: rgba(240,242,242,1);
	stroke: rgba(198,204,203,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3197 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 1255px;
	top: 1184px;
}
#Rectngulo_3195 {
	fill: rgba(240,242,242,1);
	stroke: rgba(198,204,203,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3195 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 1255px;
	top: 1096px;
}
#Rectngulo_3196 {
	fill: rgba(240,242,242,1);
	stroke: rgba(198,204,203,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3196 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 1255px;
	top: 1272px;
}