.mediaViewInfo {
	--web-view-name: 1920_Paso 2_Emisiones directas_Estado por defecto;
	--web-view-id: n_920_Paso_2_Emisiones_directas_Estado_por_defecto;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_920_Paso_2_Emisiones_directas_Estado_por_defecto;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
@keyframes  {


}
#n_920_Paso_2_Emisiones_directas_Estado_por_defecto {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(247,249,247,1);
	overflow: hidden;
	--web-animation: fadein undefineds undefined;
	--web-action-type: view;
	--web-action-target: n_920_Paso_2_Emisiones_directas_Caractersticas_seleccionadas;
	cursor: pointer;
	--web-view-name: 1920_Paso 2_Emisiones directas_Estado por defecto;
	--web-view-id: n_920_Paso_2_Emisiones_directas_Estado_por_defecto;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
#Platform_menu_left {
	position: absolute;
	width: 262px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectngulo_1_b {
	fill: url(#Rectngulo_1_b);
}
.Rectngulo_1_b {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Rectngulo_1105 {
	opacity: 0.8;
	fill: rgba(255,255,255,1);
}
.Rectngulo_1105 {
	position: absolute;
	overflow: visible;
	width: 194px;
	height: 45px;
	left: 40px;
	top: 125px;
}
#Grupo_959 {
	position: absolute;
	width: 76px;
	height: 21px;
	left: 52px;
	top: 92px;
	overflow: visible;
}
#Inicio {
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#icon_home {
	position: absolute;
	width: 18px;
	height: 20.007px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_5874 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_5874 {
	overflow: visible;
	position: absolute;
	width: 19.5px;
	height: 21.564px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectngulo_1064 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_1064 {
	position: absolute;
	overflow: visible;
	width: 7.5px;
	height: 9.5px;
	left: 6px;
	top: 11.824px;
}
#Grupo_960 {
	position: absolute;
	width: 111px;
	height: 21px;
	left: 52px;
	top: 137px;
	overflow: visible;
}
#Registros {
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(14,85,92,1);
	letter-spacing: 0.05px;
}
#icon_register {
	position: absolute;
	width: 17.922px;
	height: 18px;
	left: 0px;
	top: 2px;
	overflow: visible;
}
#Trazado_6229 {
	fill: transparent;
	stroke: rgba(14,85,92,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6229 {
	overflow: visible;
	position: absolute;
	width: 17.5px;
	height: 19.5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6230 {
	fill: transparent;
	stroke: rgba(14,85,92,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6230 {
	overflow: visible;
	position: absolute;
	width: 13.537px;
	height: 13.535px;
	left: 6.055px;
	top: 0.078px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6231 {
	fill: transparent;
	stroke: rgba(14,85,92,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6231 {
	overflow: visible;
	position: absolute;
	width: 4.063px;
	height: 4.063px;
	left: 13.5px;
	top: 1.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_961 {
	position: absolute;
	width: 121px;
	height: 21px;
	left: 52px;
	top: 182px;
	overflow: visible;
}
#Resultados {
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#icon_results {
	position: absolute;
	width: 18px;
	height: 16px;
	left: 0px;
	top: 3px;
	overflow: visible;
}
#Trazado_6461 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6461 {
	overflow: visible;
	position: absolute;
	width: 5.5px;
	height: 8.5px;
	left: 0px;
	top: 9px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6462 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6462 {
	overflow: visible;
	position: absolute;
	width: 5.5px;
	height: 17.5px;
	left: 7px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6463 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6463 {
	overflow: visible;
	position: absolute;
	width: 5.5px;
	height: 13.5px;
	left: 14px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_962 {
	position: absolute;
	width: 154px;
	height: 21px;
	left: 52px;
	top: 227px;
	overflow: visible;
}
#Compensacin {
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#icon_compensation {
	position: absolute;
	width: 18px;
	height: 12px;
	left: 0px;
	top: 5px;
	overflow: visible;
}
#Trazado_6395 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6395 {
	overflow: visible;
	position: absolute;
	width: 20.109px;
	height: 14.109px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6396 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6396 {
	overflow: visible;
	position: absolute;
	width: 6.5px;
	height: 6.5px;
	left: 13px;
	top: 7px;
	transform: matrix(1,0,0,1,0,0);
}
#Plataforma_HCero {
	left: 40px;
	top: 973px;
	position: absolute;
	overflow: visible;
	width: 172px;
	white-space: nowrap;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#Grupo_1197 {
	position: absolute;
	width: 94.063px;
	height: 15.236px;
	left: 40px;
	top: 1005px;
	overflow: visible;
}
#Platform_bar_top {
	position: absolute;
	width: 1658px;
	height: 64px;
	left: 262px;
	top: 0px;
	overflow: visible;
}
#Rectngulo_1509 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_1509 {
	position: absolute;
	overflow: visible;
	width: 1658px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#icon_notification {
	position: absolute;
	width: 16px;
	height: 17px;
	left: 1303px;
	top: 24px;
	overflow: visible;
}
#Componente_170 {
	position: absolute;
	width: 16px;
	height: 17px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_6168 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6168 {
	overflow: visible;
	position: absolute;
	width: 17.5px;
	height: 16.5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6169 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_6169 {
	overflow: visible;
	position: absolute;
	width: 5.5px;
	height: 2.75px;
	left: 6px;
	top: 15px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_support {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 1339px;
	top: 23px;
	overflow: visible;
}
#Elipse_4 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_4 {
	position: absolute;
	overflow: visible;
	width: 19px;
	height: 19px;
	left: 0px;
	top: 0px;
}
#Text {
	left: 5.5px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#icon_arrow {
	position: absolute;
	width: 7.211px;
	height: 3.357px;
	left: 1404.789px;
	top: 31px;
	overflow: visible;
}
#Trazado_5919 {
	fill: transparent;
	stroke: rgba(98,113,115,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_5919 {
	overflow: visible;
	position: absolute;
	width: 9.332px;
	height: 5.248px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_user {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 1377.865px;
	top: 23px;
	overflow: visible;
}
#Grupo_963 {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#NameUser {
	left: 1432px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: right;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#Grupo_964 {
	position: absolute;
	width: 84px;
	height: 12px;
	left: 987px;
	top: 84px;
	overflow: visible;
}
#Elipse_99 {
	fill: rgba(77,153,127,1);
}
.Elipse_99 {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 0px;
	top: 0px;
}
#Elipse_102 {
	fill: rgba(206,230,173,1);
}
.Elipse_102 {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 48px;
	top: 0px;
}
#Elipse_100 {
	fill: rgba(77,153,127,1);
}
.Elipse_100 {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 24px;
	top: 0px;
}
#Elipse_101 {
	fill: rgba(206,230,173,1);
}
.Elipse_101 {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 72px;
	top: 0px;
}
#Volver {
	left: 315px;
	top: 76px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
	text-decoration: underline;
}
#icon_arrow_dj {
	transform: matrix(1,0,0,1,301.0002,84.9274) rotate(90deg);
	transform-origin: center;
	position: absolute;
	width: 7.211px;
	height: 3.357px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trazado_5919_dk {
	fill: transparent;
	stroke: rgba(156,160,159,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_5919_dk {
	overflow: visible;
	position: absolute;
	width: 5.248px;
	height: 9.332px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_1318 {
	position: absolute;
	width: 534px;
	height: 42px;
	left: 762px;
	top: 787px;
	overflow: visible;
}
#Btn_L {
	position: absolute;
	width: 260px;
	height: 42px;
	left: 274px;
	top: 0px;
	overflow: visible;
	padding: 10px 85px 10px 85px;
}
#Rectngulo_1503 {
	fill: rgba(254,80,0,1);
}
.Rectngulo_1503 {
	filter: drop-shadow(0px 2px 6px rgba(206, 65, 0, 0.4));
	position: absolute;
	overflow: visible;
	width: 278px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Siguiente {
	left: 85px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: center;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
#Btn_L_dp {
	position: absolute;
	width: 258px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
	padding: 10px 87px 10px 87px;
}
#Rectngulo_1503_dq {
	fill: rgba(247,249,247,1);
	stroke: rgba(98,113,115,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_1503_dq {
	filter: drop-shadow(0px 2px 3px rgba(193, 181, 176, 0.149));
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 51px;
	left: 0px;
	top: 0px;
}
#Cancelar {
	left: 87px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: center;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Selecciona_las_categoras {
	left: 761px;
	top: 245px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
}
#Rectngulo_2240 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_2240 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 76px;
	left: 761px;
	top: 366px;
}
#Rectngulo_3164 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_3164 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 76px;
	left: 761px;
	top: 278px;
}
#Rectngulo_2241 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_2241 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 76px;
	left: 761px;
	top: 454px;
}
#Rectngulo_2242 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_2242 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 76px;
	left: 761px;
	top: 542px;
}
#Rectngulo_2243 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_2243 {
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 76px;
	left: 761px;
	top: 630px;
}
#Extintores {
	left: 837px;
	top: 393px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
}
#Vehculos {
	left: 837px;
	top: 305px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
}
#Aires_acondicionados {
	left: 837px;
	top: 481px;
	position: absolute;
	overflow: visible;
	width: 202px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
}
#Plantas_generadoras_de_energa {
	left: 837px;
	top: 569px;
	position: absolute;
	overflow: visible;
	width: 290px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
}
#Hornos_o_calderas {
	left: 837px;
	top: 657px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(156,160,159,1);
	letter-spacing: 0.05px;
}
#icon_information {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 740px;
	top: 142px;
	overflow: visible;
}
#Elipse_123 {
	fill: rgba(198,204,203,1);
}
.Elipse_123 {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#Trazado_9259 {
	fill: rgba(255,255,255,1);
}
.Trazado_9259 {
	overflow: visible;
	position: absolute;
	width: 2.268px;
	height: 8.76px;
	left: 5.867px;
	top: 2.621px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectngulo_2244 {
	fill: rgba(0,0,0,0);
}
.Rectngulo_2244 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 60px;
	left: 769px;
	top: 374px;
}
#Rectngulo_3165 {
	fill: rgba(0,0,0,0);
}
.Rectngulo_3165 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 60px;
	left: 769px;
	top: 286px;
}
#Rectngulo_2245 {
	fill: rgba(0,0,0,0);
}
.Rectngulo_2245 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 60px;
	left: 769px;
	top: 462px;
}
#icon_information_d {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 739px;
	top: 573px;
	overflow: visible;
}
#Elipse_123_ea {
	fill: rgba(198,204,203,1);
}
.Elipse_123_ea {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#Trazado_9259_eb {
	fill: rgba(255,255,255,1);
}
.Trazado_9259_eb {
	overflow: visible;
	position: absolute;
	width: 2.268px;
	height: 8.76px;
	left: 5.867px;
	top: 2.621px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_information_ec {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 739px;
	top: 309px;
	overflow: visible;
}
#Elipse_123_ed {
	fill: rgba(198,204,203,1);
}
.Elipse_123_ed {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#Trazado_9259_ee {
	fill: rgba(255,255,255,1);
}
.Trazado_9259_ee {
	overflow: visible;
	position: absolute;
	width: 2.268px;
	height: 8.76px;
	left: 5.867px;
	top: 2.621px;
	transform: matrix(1,0,0,1,0,0);
}
#icon_information_ef {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 739px;
	top: 661px;
	overflow: visible;
}
#Elipse_123_eg {
	fill: rgba(198,204,203,1);
}
.Elipse_123_eg {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
}
#Trazado_9259_eh {
	fill: rgba(255,255,255,1);
}
.Trazado_9259_eh {
	overflow: visible;
	position: absolute;
	width: 2.268px;
	height: 8.76px;
	left: 5.867px;
	top: 2.621px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_1320 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 769px;
	top: 550px;
	overflow: visible;
}
#Grupo_1231 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Emisiones_directas {
	left: 762px;
	top: 136px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(14,85,92,1);
	letter-spacing: 0.05px;
}
#Tambin_conocidas_de_alcance_1_ {
	left: 762px;
	top: 169px;
	position: absolute;
	overflow: visible;
	width: 536px;
	height: 48px;
	line-height: 26px;
	margin-top: -4px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(98,113,115,1);
	letter-spacing: 0.05px;
}
#Grupo_1416 {
	position: absolute;
	width: 255.502px;
	height: 21px;
	left: 762px;
	top: 726px;
	overflow: visible;
}
#Agregar_nueva_categora_GEI {
	left: 18.502px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 238px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Sora;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(32,38,38,1);
	letter-spacing: 0.05px;
	text-decoration: underline;
}
#icon_plus {
	position: absolute;
	width: 10.415px;
	height: 10.415px;
	left: 0px;
	top: 6px;
	overflow: visible;
}
#Lnea_2379 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_2379 {
	overflow: visible;
	position: absolute;
	width: 1.5px;
	height: 11.916px;
	left: 5.207px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2380 {
	fill: transparent;
	stroke: rgba(32,38,38,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_2380 {
	overflow: visible;
	position: absolute;
	width: 11.916px;
	height: 1.5px;
	left: 0px;
	top: 5.207px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_1546 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 769px;
	top: 374px;
	overflow: visible;
}
#Trazado_11260 {
	fill: rgba(247,249,247,1);
}
.Trazado_11260 {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11261 {
	fill: rgba(238,249,237,1);
}
.Trazado_11261 {
	overflow: visible;
	position: absolute;
	width: 8.193px;
	height: 7.203px;
	left: 33.104px;
	top: 10.182px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11262 {
	fill: rgba(238,249,237,1);
}
.Trazado_11262 {
	overflow: visible;
	position: absolute;
	width: 16.871px;
	height: 31.584px;
	left: 20.33px;
	top: 17.752px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11263 {
	fill: rgba(198,204,203,1);
}
.Trazado_11263 {
	overflow: visible;
	position: absolute;
	width: 8.945px;
	height: 31.582px;
	left: 28.254px;
	top: 17.758px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11264 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11264 {
	overflow: visible;
	position: absolute;
	width: 6.816px;
	height: 32.334px;
	left: 28.254px;
	top: 17.752px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11265 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11265 {
	overflow: visible;
	position: absolute;
	width: 17.621px;
	height: 32.334px;
	left: 20.33px;
	top: 17.752px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2640 {
	fill: transparent;
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_2640 {
	overflow: visible;
	position: absolute;
	width: 0.75px;
	height: 1.357px;
	left: 20.332px;
	top: 43.352px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11266 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11266 {
	overflow: visible;
	position: absolute;
	width: 5.297px;
	height: 8.689px;
	left: 25.869px;
	top: 9.813px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11267 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11267 {
	overflow: visible;
	position: absolute;
	width: 7.92px;
	height: 6.248px;
	left: 18.699px;
	top: 13.506px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11268 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11268 {
	overflow: visible;
	position: absolute;
	width: 5.125px;
	height: 5.125px;
	left: 21.496px;
	top: 9.131px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectngulo_2433 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Rectngulo_2433 {
	position: absolute;
	overflow: visible;
	width: 3.439px;
	height: 2.543px;
	left: 30.418px;
	top: 12.971px;
}
#Trazado_11269 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11269 {
	overflow: visible;
	position: absolute;
	width: 8.943px;
	height: 7.963px;
	left: 33.105px;
	top: 10.266px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11270 {
	fill: rgba(198,204,203,1);
}
.Trazado_11270 {
	overflow: visible;
	position: absolute;
	width: 7.871px;
	height: 10.744px;
	left: 23.768px;
	top: 27.119px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11271 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_11271 {
	overflow: visible;
	position: absolute;
	width: 8.65px;
	height: 11.494px;
	left: 23.768px;
	top: 27.119px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_1547 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 769px;
	top: 461.998px;
	overflow: visible;
}
#Trazado_11272 {
	fill: rgba(247,249,247,1);
}
.Trazado_11272 {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0.002px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11273 {
	fill: rgba(198,204,203,1);
}
.Trazado_11273 {
	overflow: visible;
	position: absolute;
	width: 39.592px;
	height: 21.322px;
	left: 13.051px;
	top: 18.287px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11274 {
	fill: rgba(238,249,237,1);
}
.Trazado_11274 {
	overflow: visible;
	position: absolute;
	width: 42.002px;
	height: 21.322px;
	left: 7.357px;
	top: 18.287px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11275 {
	fill: rgba(198,204,203,1);
}
.Trazado_11275 {
	overflow: visible;
	position: absolute;
	width: 35.146px;
	height: 6.699px;
	left: 10.785px;
	top: 32.473px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11276 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11276 {
	overflow: visible;
	position: absolute;
	width: 42.752px;
	height: 22.072px;
	left: 7.357px;
	top: 18.287px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2641 {
	fill: transparent;
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_2641 {
	overflow: visible;
	position: absolute;
	width: 1.883px;
	height: 0.75px;
	left: 15.555px;
	top: 18.289px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11277 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11277 {
	overflow: visible;
	position: absolute;
	width: 40.342px;
	height: 22.072px;
	left: 13.051px;
	top: 18.287px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11278 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11278 {
	overflow: visible;
	position: absolute;
	width: 35.896px;
	height: 7.449px;
	left: 10.785px;
	top: 32.473px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2642 {
	fill: transparent;
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_2642 {
	overflow: visible;
	position: absolute;
	width: 29.488px;
	height: 0.75px;
	left: 13.99px;
	top: 34.818px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2643 {
	fill: transparent;
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_2643 {
	overflow: visible;
	position: absolute;
	width: 29.488px;
	height: 0.75px;
	left: 13.99px;
	top: 36.225px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2644 {
	fill: transparent;
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_2644 {
	overflow: visible;
	position: absolute;
	width: 29.488px;
	height: 0.75px;
	left: 13.99px;
	top: 37.631px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11279 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11279 {
	overflow: visible;
	position: absolute;
	width: 28.527px;
	height: 2.625px;
	left: 14.951px;
	top: 20.264px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11280 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11280 {
	overflow: visible;
	position: absolute;
	width: 2.627px;
	height: 2.627px;
	left: 40.852px;
	top: 23.613px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11281 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11281 {
	overflow: visible;
	position: absolute;
	width: 2.625px;
	height: 2.627px;
	left: 37.326px;
	top: 23.613px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11282 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11282 {
	overflow: visible;
	position: absolute;
	width: 2.625px;
	height: 2.627px;
	left: 33.801px;
	top: 23.613px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11283 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11283 {
	overflow: visible;
	position: absolute;
	width: 3.582px;
	height: 8.508px;
	left: 8.824px;
	top: 41.791px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11284 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11284 {
	overflow: visible;
	position: absolute;
	width: 2.711px;
	height: 5.416px;
	left: 13.018px;
	top: 41.736px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11285 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11285 {
	overflow: visible;
	position: absolute;
	width: 3.582px;
	height: 8.508px;
	left: 15.363px;
	top: 41.791px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11286 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11286 {
	overflow: visible;
	position: absolute;
	width: 3.582px;
	height: 8.508px;
	left: 32.732px;
	top: 41.791px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11287 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11287 {
	overflow: visible;
	position: absolute;
	width: 2.713px;
	height: 5.416px;
	left: 36.926px;
	top: 41.736px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11288 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11288 {
	overflow: visible;
	position: absolute;
	width: 3.58px;
	height: 8.508px;
	left: 39.27px;
	top: 41.791px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_1548 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 769px;
	top: 638px;
	overflow: visible;
}
#Trazado_11289 {
	fill: rgba(247,249,247,1);
}
.Trazado_11289 {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11290 {
	fill: rgba(238,249,237,1);
}
.Trazado_11290 {
	overflow: visible;
	position: absolute;
	width: 10.973px;
	height: 10.385px;
	left: 25.594px;
	top: 5.975px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11291 {
	fill: rgba(238,249,237,1);
}
.Trazado_11291 {
	overflow: visible;
	position: absolute;
	width: 20.699px;
	height: 38.221px;
	left: 19.691px;
	top: 15.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11292 {
	fill: rgba(198,204,203,1);
}
.Trazado_11292 {
	overflow: visible;
	position: absolute;
	width: 2.92px;
	height: 36.891px;
	left: 37.471px;
	top: 16.547px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2645 {
	fill: transparent;
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_2645 {
	overflow: visible;
	position: absolute;
	width: 0.75px;
	height: 1.545px;
	left: 19.609px;
	top: 22.609px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11293 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11293 {
	overflow: visible;
	position: absolute;
	width: 21.445px;
	height: 38.969px;
	left: 19.609px;
	top: 15.879px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectngulo_2434 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Rectngulo_2434 {
	position: absolute;
	overflow: visible;
	width: 8.527px;
	height: 15.268px;
	left: 22.266px;
	top: 22.607px;
}
#Trazado_11294 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11294 {
	overflow: visible;
	position: absolute;
	width: 8.943px;
	height: 3.838px;
	left: 28.506px;
	top: 13.25px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11295 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11295 {
	overflow: visible;
	position: absolute;
	width: 3.172px;
	height: 3.547px;
	left: 25.594px;
	top: 9.131px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11296 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11296 {
	overflow: visible;
	position: absolute;
	width: 3.17px;
	height: 3.547px;
	left: 26.807px;
	top: 9.129px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11297 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11297 {
	overflow: visible;
	position: absolute;
	width: 2.377px;
	height: 2.947px;
	left: 29.229px;
	top: 11.053px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11298 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11298 {
	overflow: visible;
	position: absolute;
	width: 3.803px;
	height: 4.373px;
	left: 29.227px;
	top: 9.627px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2646 {
	fill: transparent;
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_2646 {
	overflow: visible;
	position: absolute;
	width: 0.75px;
	height: 37.227px;
	left: 37.475px;
	top: 16.992px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2647 {
	fill: transparent;
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_2647 {
	overflow: visible;
	position: absolute;
	width: 0.75px;
	height: 3.646px;
	left: 34.777px;
	top: 13.25px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2648 {
	fill: transparent;
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_2648 {
	overflow: visible;
	position: absolute;
	width: 0.75px;
	height: 3.094px;
	left: 32.043px;
	top: 8.158px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2649 {
	fill: transparent;
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Lnea_2649 {
	overflow: visible;
	position: absolute;
	width: 0.75px;
	height: 5.842px;
	left: 33.625px;
	top: 8.158px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectngulo_2435 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Rectngulo_2435 {
	position: absolute;
	overflow: visible;
	width: 4.49px;
	height: 3.008px;
	left: 30.6px;
	top: 5.902px;
}
#Trazado_11299 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11299 {
	overflow: visible;
	position: absolute;
	width: 3.641px;
	height: 3.008px;
	left: 32.658px;
	top: 5.9px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11300 {
	fill: rgba(198,204,203,1);
}
.Trazado_11300 {
	overflow: visible;
	position: absolute;
	width: 7.873px;
	height: 10.744px;
	left: 22.838px;
	top: 39.98px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11301 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_11301 {
	overflow: visible;
	position: absolute;
	width: 8.65px;
	height: 11.494px;
	left: 22.838px;
	top: 39.98px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11302 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_11302 {
	overflow: visible;
	position: absolute;
	width: 3.055px;
	height: 3.057px;
	left: 32.471px;
	top: 22.607px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11303 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trazado_11303 {
	overflow: visible;
	position: absolute;
	width: 3.055px;
	height: 3.055px;
	left: 32.471px;
	top: 26.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11304 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,39,68,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Trazado_11304 {
	overflow: visible;
	position: absolute;
	width: 2.072px;
	height: 4.83px;
	left: 27.184px;
	top: 27.828px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_2071 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 769px;
	top: 286px;
	overflow: visible;
}
#Grupo_2072 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectngulo_3194 {
	fill: rgba(240,242,242,1);
	stroke: rgba(198,204,203,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3194 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 1255px;
	top: 305px;
}
#Rectngulo_3197 {
	fill: rgba(240,242,242,1);
	stroke: rgba(198,204,203,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3197 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 1255px;
	top: 481px;
}
#Rectngulo_3198 {
	fill: rgba(240,242,242,1);
	stroke: rgba(198,204,203,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3198 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 1255px;
	top: 657px;
}
#Rectngulo_3195 {
	fill: rgba(240,242,242,1);
	stroke: rgba(198,204,203,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3195 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 1255px;
	top: 393px;
}
#Rectngulo_3199 {
	fill: rgba(240,242,242,1);
	stroke: rgba(198,204,203,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3199 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 1255px;
	top: 569px;
}