* {
  font-family: 'Sora', sans-serif;
}

.fzp {
  font-family: 'Prompt', sans-serif;
}

/* Estilo base para ocultar el checkbox */
input.checkbox {
  display: none;
}

/* Estilo para el contenedor del checkbox personalizado */
.label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #F0F2F2;
  border: 1px solid #C6CCCB;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo para el icono de check */
label::after {
  content: "\2713";
  display: none;
  width: 10px;
  height: 10px;
  font-weight: 900;
  border-radius: 2px;
  color: white;
  margin-left: 3px;
  transform: translateX(5px);
  transform: translateY(-2px);
}

/* Estilo cuando el checkbox está seleccionado */
input[type="checkbox"]:checked+label {
  background-color: #0E555C
}

/* Estilo para mostrar el icono de check cuando el checkbox está seleccionado */
input[type="checkbox"]:checked+label::after {
  display: block;
}

/* Estilo cuando el radio está seleccionado */
input[type="radio"]:checked+label {
  background-color: #0E555C
}

/* Estilo para mostrar el icono de check cuando el radio está seleccionado */
input[type="radio"]:checked+label::after {
  display: block;
}